/* Copyright 2014 Thomas Thomassen */

#header {
  font-size: 1.5em;
  padding-left: 52px; /* 10px + 32px + 10px */
  line-height: 32px;
  background: #c33;
  border-color: #a00;
  color: #fff;
}


#header img {
  position: absolute;
  left: 10px;
  top: 10px;
}


#content {
  overflow: auto;
}


#no-errors {
  color: #999;
  font-size: 1.5em;
  text-align: center;
  line-height: 1.5em;
  padding: 1em;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#smiley {
  margin: 1em;
  font-size: 2em;
}


.error-group {
  background: #eee;
  border-bottom: 1px solid #ccc;
  padding: 10px 110px 10px 10px;
  position: relative;
  min-height: 65px;
}

.error-group.selected {
  background: #ffe0d7;
}

.error-group .title {
  font-weight: bold;
  margin-bottom: 5px;
  position: relative;
  z-index: 20;
}

.error-group .count {
  position: absolute;
  z-index: 10;
  left: 10px;
  top: 25px;
  font-family: Arial, sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #aaa;
}

.error-group .expand_info {
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 110px;
  z-index: 25;
  text-decoration: none;
  font-weight: bold;
  border: none;
}

.error-group .description {
  position: absolute;
  left: 10px;
  right: 110px;
  z-index: 40;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 5px;
  display: none;
}

.error-group .fix {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 30;
}
